<server description="ferret server">

    <featureManager>
       
         <feature>microProfile-1.0</feature>
         <feature>mongodb-2.0</feature>
         <feature>couchdb-1.0</feature>
         <feature>jndi-1.0</feature>
<!--
          <feature> localConnector-1.0</feature>

 
-->
  
   </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" >
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="ferret" context-root="/ferret" location="${wlp.install.dir}/../../${appLocation}" type="war">
      <application-bnd>
        <security-role name="user">
          <user name="bob"/>
        </security-role>
      </application-bnd>
    </application>
    
    <keyStore id="defaultKeyStore" password="Liberty"/>

    <quickStartSecurity userName="bob" userPassword="passw0rd" />

</server>
